{% extends "userlayout.html" %}
<!--title part-->
{% block title %}online Booking{% endblock %}
<!--head part-->
{% block head %}
{{ super() }}
<style>

  #input{
      margin-left: 10px;
  }
  .card{
    margin-top:30px;border-top-left-radius: 25px;border-bottom-right-radius: 25px;border:solid 1px #455A64;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 10px;
  }
  .card:hover{
    box-shadow: 0 0 5px 5px #757575;transition:ease .5s;
  }
  .card-header{
      background-color: #455A64;text-align: center;color: white;font-size: 20px;
      border:solid 1px #455A64;
    }
    #button{
    background-color: #546E7A;width:90px;
    }
    #btn{
    background-color: #C62828;width:90px;
    }
    #btn:hover{
    box-shadow: 2px 2px rgb(0,0,0);
    }
    #button:hover{
    box-shadow: 2px 2px rgb(0,0,0);
    }
    body{
        background: white;
    }
</style>
{% endblock %}
<!--content part-->
{% block content %}
<div class="container">
    <form action="/feedback" method="get">
    <div class="row justify-content-center">
        <div class="col-sm-7">
            <div class="card">
                <div class="card-header" style="border-top-left-radius: 25px;">Feedback</div>
                    <div class="card-body"><br>

                        <div class="row">
                            <div class="col-sm-11">
                                <label>Name:</label>
                                <input type="text" class="form-control" id="input" placeholder="Enter License No."  name="nam" value="{{session['user_name']}}" readonly>
                            </div>
                        </div><br>
                        
    <div class="row">
        <div class="col-sm-11">
            <label>License No.</label>
            <input type="text" class="form-control" id="input" placeholder="Enter License Number" name="lic" value="{{session['lic_no']}}" readonly>
        </div>
    </div><br>

    <div class="row" style="margin-left:-3px">
      <div class="col-sm-11">
          <label>Location:</label>
          <select class="form-control" required name="loc" style="width:540px">
            {% for d in data %}
        <option value="{{d['lot_id']}}">
            {{d['location']}}
        </option>
            {% endfor %}
        </select>
      </div>
  </div><br>


    <div class="row">
        <div class="col-sm-11">
            <label>Message</label>
            <input type="text" class="form-control" id="input"  placeholder="Enter Feedback" name="msg" required style="height:60px">
        </div>
    </div><br><br>
                       



<div class="d-flex justify-content-left">
    <input type="submit" value="Register" class="btn btn-success" name="submit" id="button">&nbsp;&nbsp;&nbsp;
    <input type="reset" value="Reset" class="btn btn-danger" name="reset" id="btn">
</div><br>
</div>
</div>
</div>
</div><br><br>
    </form>
</div>


{% endblock %}